body {
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
    cursor: none;
    color: #fff;
}

table {
    width: 100%;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    overflow: hidden;
    font-size: 49px;
    position: absolute;
    top: 0;
}

th {
    font-size: 45px;
}

td {
    padding: 2px 8px !important;
}

.route {
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
    min-width: 110px;
    float: right;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 20px;
    border: 5px solid #2e6da4;
    border-top-width: 2px;
    border-bottom-width: 2px;
    background-color: #337ab7;
    color: #fff;
}

.route-in {
    border-left: 5px solid #fff;
    box-shadow: -10px 0 10px -5px rgba(255, 255, 255, 0.4);
}

.route-out {
    border-right: 5px solid #fff;
    box-shadow: 10px 0 10px -5px rgba(255, 255, 255, 0.4);
}

#clock {
    float: right;
    font-size: 60px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1024;
    padding-right: 10px;
    font-weight: 300;
    color: #fff;
}

#tblcontainer {
    vertical-align: top;
    display: block;
    width: 100%;
}

.hours:after {
    content: "h";
    font-size: 34px;
    font-weight: normal;
}

.minutes:after {
    content: "m";
    font-size: 34px;
    font-weight: normal;
}

.hours, .minutes {
    font-weight: bold;
}

.bahn {
    width: 70px;
    float: right;
}


.footer {
    position: absolute;
    bottom: 0;
    font-size: 20px;
    padding-left: 10px;
    width: 100%;
}

.weather {
    margin: 0 15px 15px 0;
    padding: 0;
    float: right;
    bottom: 0;
    z-index: 5;
    font-size: 25px;
    min-width: 200px;
}

.weather .panel-heading {
    padding: 0 3px;
    text-align: center;
}

.weather .panel-footer {
    padding: 0 3px;
    text-align: center;
}

.weather .panel-body {
    padding: 3px;
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 5px #000;
    text-align: right;
    background: no-repeat 10px center;
    background-size: auto 100%;
    line-height: 27px;
}

.weather b {
    font-size: 25px;
    font-weight: 700;
}

.logo {
    margin-top: 3px;
    height: 90px;
    float: left;
}

.logotext {
    padding-left: 60px;
    padding-top: 15px;
}

#error {
    font-size: 40px;
}