<head>
    <title>Fahrplan Universität</title>

    <meta http-equiv="refresh" content="3600">
    <script src="/static/js/jquery-min.js" type="application/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="application/javascript"></script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,800,600' rel='stylesheet' type='text/css'>
    <link href='/static/css/bootstrap.min.css' rel='stylesheet' type='text/css'>
    <link href='/static/css/style.css' rel='stylesheet' type='text/css'>

</head>
<body>
<div id="clock"></div>
<div id='tblcontainer'></div>

<script type="application/javascript">
    function pad(num, size) {
        return ('000000000' + num).substr(-size)
    }
    ;

    $.ajaxSetup({
        timeout: 15000,
        error: function (event, request, settings) {
            //$('#tblcontainer').html('<div id="error" class="alert alert-danger" role="alert">Dieser Busfahrplan ist in deinem Land leider nicht verfügbar.<br>' + event.responseText + '</div>');
            $('#tblcontainer').delay('100').load('/table');
        }
    });
    $('#tblcontainer').load('/table');

    var auto_refresh = setInterval(
            function () {
                $('#tblcontainer').load('/table');
            }, 20000);

    setInterval(function () {
        var cdate = new Date;
        $('#clock').text(pad(cdate.getHours(), 2) + ":" + pad(cdate.getMinutes(), 2));
    }, 1000);

</script>
</body>
</html>