<table class="table">
    <tr>
        <th style="width: 180px;">Zeit</th>
        <th style="width: auto;">&nbsp;</th>
        <th style="width: 150px; text-align: center;">Linie</th>
        <th>Richtung</th>
    </tr>
    {% for b in list[:17] %}
        <tr>
            <td>{{ b.time.strftime('%H:%M') }}</td>
            <td>
            <span class="{{ b.getCssClass() }}">
                {% if b.getRemainingTimeHM()[0] > 0 %}
                    <span class="hours">{{ b.getRemainingTimeHM()[0] }}</span>
                {% endif %}
                {% if b.getRemainingTimeHM()[1] > 0 %}
                    <span class="minutes">{{ b.getRemainingTimeHM()[1] }}</span>
                {% endif %}
            </span>
            </td>
            <td>
                <div class="route label {% if b.rws %}route-in{% else %}route-out{% endif %}">{{ b.route }}</div>
            </td>
            <td>{{ b.direction }}</td>
        </tr>
    {% endfor %}
</table>

<div class="footer">
    {#    <img src="/static/img/fsim-logo.png" class="logo">#}
    {% if weather %}
        {% for w in weather[:4]|reverse %}
            <div class="weather panel panel-default">
                <div class="panel-heading">{{ w['date']['weekday'] }}</div>
                <div class="panel-body" style="background-image: url(/static/img/wuicons/{{ w['icon'] }}.png);">
                    <b>{{ w['low']['celsius'] }}</b>&nbsp;&ndash;&nbsp;<b>{{ w['high']['celsius'] }}</b>&deg;C
                    <br>&nbsp;
                    {% if w['qpf_allday']['mm'] != none and w['qpf_allday']['mm'] > 0 %}
                        R: {{ w['qpf_allday']['mm'] }}
                        <small>mm</small>
                    {% endif %}

                    {% if w['snow_allday']['cm'] != none and w['snow_allday']['cm'] > 0 %}
                        &nbsp;S: {{ w['snow_allday']['cm'] }}
                    <small>cm
                    </small>
                    {% endif %}
                </div>
                <div class="panel-footer">{{ w['conditions'] }}</div>
            </div>
        {% endfor %}
    {% endif %}
    {#    <div class="logotext" id="logotext">Fachschaft<br>Informatik/Mathematik</div>#}
</div>
